<div class="content">
    <div class="row">
        <div class="col-md-6" [ngStyle]="{'padding':'25px'}">
            <div class="col-md-12">
                <h3>
                    {{actionTitle}} cancion
                </h3>
            </div>
            <form [formGroup]="form" (ngSubmit)="submitTrack()" class="login-auth-form">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="name">Cancion</label>
                            <input type="text" class="form-control" id="name"
                                placeholder="Cancion" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="album">Album</label>
                            <input type="text" class="form-control" id="album"
                                placeholder="Album" formControlName="album">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cover">Cover</label>
                            <input type="text" class="form-control" id="cover"
                                placeholder="Cover" formControlName="cover">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="artist">Artista</label>
                            <input type="text" class="form-control" id="artist"
                                placeholder="Artista" formControlName="artist">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input type="text" class="form-control" id="id"
                                placeholder="0" formControlName="id">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col align-items-end">
                        <div class="form-action">
                            <button ngClass="btn btn-success" [disabled]="form.invalid" class="login social-btn" [ngStyle]="{cursor:'pointer'}">{{actionTitle}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div [ngStyle]="{'border-bottom': 'solid 1px var(--color-2)'}"></div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 [ngStyle]="{'padding-left':'27px'}">
                Borrar y editar canciones
            </h3>
        </div>
        <div class="play-list-body">
            <ul class="play-list-table-header">
                <li>Nombre</li>
                <li>álbum</li>
                <li>eliminar</li>
                <li>editar</li>
            </ul>
            <ul class="play-list-rows" *ngFor="let track of tracks">
                <li class="track-name">
                    <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
                </li>
                <li class="track-name-opacity">
                    {{track.album}}
                </li>
                <li class="track-name-opacity">
                    <i class="uil uil-trash-alt" (click)="deleteTrack(track)" [ngStyle]="{cursor: 'pointer', color: 'red', 'font-size': '20px'}"></i>
                </li>
                <li class="track-name-opacity">
                    <i class="uil uil-edit" (click)="editTrack(track)" [ngStyle]="{cursor: 'pointer', color: 'green', 'font-size': '20px'}"></i>
                </li>
        
            </ul>
        </div>
        
        <!--template del cover-->
        <ng-template #coverSection let-track="track">
        
            <div class="cover-section">
                <img appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
                <div class="cover-info">
                    <div class="name-track">{{track.name}}</div>
                    <div class="name-track-details">{{track.artist.name}}</div>
                </div>
            </div>
        
        </ng-template>
    </div>
</div>
